.logo {
  height: 5.2rem;
}
.head {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  font-size: large;
  padding: 1rem;
  cursor: pointer;

  color: inherit;
  text-decoration: none;
}
